{{- $logoImage := .Site.Params.logo.image -}} 
{{- $logoDireitoExtra := .Site.Params.logo.logo_direito -}}
{{- $logoMemorial := .Site.Params.logo.logo_memorial -}}

{{- if or $logoImage }}
  <div class="logo">
    
    <!-- Bloco com as duas imagens lado a lado -->
    <div class="logo__images">
      {{ with $logoImage }}
        <div class="logo__item ">
          <img class="logo__img3" src="{{ . | relURL }}" alt="Logo UFBA">
        </div>
      {{ end }}

      {{ with $logoDireitoExtra }}
        <div class="logo__item ">
          <img class="logo__img" src="{{ . | relURL }}" alt="Logo Direito">
        </div>
      {{ end }}

      {{ with $logoMemorial }}
        <div class="logo__item ">
          <img class="logo__img2" src="{{ . | relURL }}" alt="Logo Memorial">
        </div>
      {{ end }}
    </div>

  </div>
{{- end }}