{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}} 
{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}} 
{{- $logoImage := .Site.Params.logo.image -}} 
{{- $direitoImage := .Site.Params.logo.direito -}}
{{- $logoDireitoExtra := .Site.Params.logo.logo_direito -}}

{{- if or $logoTitle $logoImage }}
  <div class="logo">
    
    <!-- Bloco com as duas imagens lado a lado -->
    <div class="logo__images">
      {{ with $logoImage }}
        <div class="logo__item logo__imagebox">
          <img class="logo__img2" src="{{ . | relURL }}" alt="Logo UFBA">
        </div>
      {{ end }}

      {{ with $direitoImage }}
        <div class="logo__item logo__imagebox">
          <img class="logo__img2" src="{{ . | relURL }}" alt="Direito Passado">
        </div>
      {{ end }}

      {{ with $logoDireitoExtra }}
        <div class="logo__item logo__imagebox">
          <img class="logo__img" src="{{ . | relURL }}" alt="Logo Direito Extra">
        </div>
      {{ end }}

      
    </div>

  </div>
{{- end }}
